.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 5rem;
    text-align: center;
    z-index: 9999;
    background-color: aliceblue;
    border-radius: 5px;
    color: #2C3E50;
    border: solid #2C3E50;
}

.edit-form button {
    margin: 1rem;
    background-color: #2c3e50;
    border: solid #2c3e50;
    color: white;
	border-radius: 5px;
	margin: 3px;
}

.edit-form button:hover {
    background-color: white;
    border: solid #2c3e50 2px;
    color: #2c3e50;
	border-radius: 5px;
}

.edit-form div {
    margin-top: 2rem;
}